<!DOCTYPE html>
<html>
  <head>
    <title>Sblog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


<div id="main-container" class="container">
      <div class="row">
        <div class="col-xs-3">
          <h3>Simple BLOG</h3>
          
            <% if user_signed_in? %>

            Hello, <%= current_user.username %> | <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>

            <% else %>

            <%= link_to 'Sign In', new_user_session_path %> | <%= link_to 'Sign Up', new_user_registration_path %>

          <% end %>

          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>

          </div>
        
          <div class="col-xs-9">
            <%= yield %>
          </div>
      </div>
</div>


  </body>
</html>
